.content-sec {
  padding-top: 15px;
}
.waves-light, .waves-light:hover, .waves-light:focus{
    background-color: #1f497b !important;
  }
  .user-label{
    max-width: 18.666667% !important;
  }
  // .data-error, .modal .err-btn {
  //   background-color: #af1926 !important;
  // }
  .left-list {
    height: 105%;
    width: 30%;
    background-color: #80a7e0;
    padding-top: 80px;
    position: absolute;
}
.user-heading {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #1f4a7c;
  color: #1f4a7c;
  margin-bottom: 20px;
  padding-bottom: 7px;
}
.btn.user-submit {
  background-color: #234a7c;
  border-radius: 0;
  width: 120px;
  color: #FFF;
}
/** media query starts here **/
@media(max-width: 767px){
  .left-list{
    width: 50%;
    z-index: 1000;
    padding-top: 40px;
  }
  .mt-btn{
    text-align: center !important;
  }
}
#resetPassModal .modal-header, #successMatch .modal-header, #disableUserModal .modal-header, #enableUser .modal-header{
  height: 39px;
  padding: 3px 14px;
}
.no-user {
  text-align: center;
  font-weight: bold;
  color: #F00;
  margin-top: 30px;
}
.material-error{
  color: #f44336;
  font-size: 75%;
  margin-top: -12px;
  margin-bottom: 12px;
  font-weight: 400;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
p.heading.lead {
  font-weight: bold;
  color: #234a7c;
}
.modal-btn {
  border-radius: 0;
  color: #FFF;
  background-color: #234a7c;
}
.modal-cancel{
  border-radius: 0;
  color: #FFF;
  // background-color: #5884c3;
  background-color: #234a7c;
}
.reset-pass-btn{
  border-radius: 0;
  color: #FFF;
  background-color: #234a7c;
  border: 1px solid;
  margin-right: 5px;
  font-size:13px;
}