<div class="container">
    <div class="row content-header clsContent">
      <h3>Odisha Water & Sanitation Mission (OWSM)</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-about-side-menu></app-about-side-menu>
      </div>
      <div class="col-md-9 sanitation clsContent">
          <p>The Odisha State Water and Sanitation Mission (OSWSM) was established vide Govt. of Odisha
              Resolution No. 9990/RD dated 05.07.2002. The Mission is tasked with implementation and monitoring of
              Rural Water Supply and Sanitation Programs across Odisha. The Mission initially operated under the aegis
              of Department of Rural Development, Govt. of Odisha. After reorganization in 2017, it currently operates
              under the Department of Panchayati Raj & Drinking Water, Government of Odisha. In the Governing Body Meet
              of OSWSM on 16th January 2018, the Mission was re-christened as Odisha Water and Sanitation Mission
              (OWSM).</p>
          <h5>Aims and Objectives of the Mission:</h5>
          <p>The Mission has the overall goal of improving the quality of life by ensuring access to better water
              supply and sanitation facilities in rural areas. The Mission will be responsible to:</p>
          <ul>
            <li>Ensure universal access to safe drinking water in rural areas as per BIS standard</li>
            <li>Ensure portability, reliability, sustainability, convenience, equity and consumer preference while
              providing drinking water facility in rural Odisha</li>
            <li>Provide safe drinking water facility especially Pipe Water Supply to Gram Panchayats, Villages, Govt.
              Schools and AWCs</li>
            <li>Provide enabling support and environment for Panchayat Raj Institutions and local communities to manage
              their own drinking water sources and systems in their villages</li>
            <li>Shift from a Supply to a Demand Driven approach through community participation with user charges for
              the operation and maintenance of the system by the Gram Panchayats as well as communities.</li>
            <li>Enable the community to plan, implement and manage their own water supply systems, the State should
              transfer the program to the PRIs particularly to the Gram Panchayats for management within the village.</li>
            <li>Prepare water safety plan in water quality problem areas and ensure periodic water quality testing
              through established Water Testing Laboratories located at district and sub-division levels as well as
              ensure sanitary surveillance of water sources through community participation.</li>
            <li>Establish Water Quality Monitoring & Surveillance System to address the water quality problems in rural
              areas.</li>
            <li>Use Information Technology (IT) based Management Information System for Maintenance of habitation –
              level status of water supply data and provide access to information through online reporting mechanism
              with information placed in public domain to bring in transparency and informed decision making. </li>
            <li>Identify field problems and generate new ideas for research, development and innovation and identify
              institutions and scientists for specific research areas</li>
            <li>Formulate guidelines for various programmes of the Mission</li>
            <li>Build the capabilities of Panchayats at every level and other local institutions to address the needs
              identified by the poor.</li>
            <li>Promote community ownership of the projects with the responsibility for operation and maintenance in
              order to ensure sustainability</li>
            <li>Overall policy guidance and coordination of programmes implemented by the District Water & Sanitation
              Missions keeping in view the guidelines of Govt. of India & Govt. of Odisha for water and sanitation
              programmes in order to make the water supply and sanitation projects self-sustainable.</li>
            <li>Ensure transfer of all existing and new Rural Piped Water Supply projects to the Gram Panchayats /
              Village Water & Sanitation Committee (VWSC).</li>
            <li>Ensure coordination with different departments, agencies and convergence of different activities and
              different schemes related to water supply & sanitation in rural areas.</li>
            <li>Bring about an improvement in the general quality of life in the rural areas, by promoting cleanliness,
              hygiene and eliminating open defecation.</li>
            <li>Accelerate sanitation coverage in rural areas to achieve the vision of Swachh Bharat by 2nd October
              2019.</li>
            <li>Motivate Communities and Panchayati Raj Institutions to adopt sustainable sanitation practices and
              facilities through awareness creation and health education.</li>
            <li>Encourage cost effective and appropriate technologies for ecologically safe and sustainable sanitation.</li>
            <li>Develop wherever required, Community managed sanitation systems focusing on scientific Solid & Liquid
              Waste Management systems for overall cleanliness in the rural areas.</li>
            <li>Make any other activities that are consistent with the aims & objectives of the Mission</li>
            </ul>
          <p>In order to achieve the above water & sanitation goals, 30 District Water & Sanitation Missions
              (DWSMs) in each of the 30 districts function under the Odisha Water & Sanitation Mission (OWSM) tasked
              with the ground-level implementation and monitoring of the Rural Water Supply and Sanitation programs.</p>
          <div class=" table-title ">
            <h3>Composition of Executive Committee of OWSM:</h3>
          </div>
          <table class="table table-striped water-sanitation">
            <thead>
              <tr>
                <th class="th-header width-col-one">Sl No.</th>
                <th class="th-header width-col-two">Executive Committee of OWSM </th>
                <th class="th-header width-col-three"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Principal Secretary, Panchayati Raj & Drinking Water</td>
                <td>Chairman</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Director, Drinking Water & Sanitation and Mission Director</td>
                <td>Member Convenor</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Director, Panchayati Raj</td>
                <td>Member</td>
              </tr>
              <tr>
                <td>4</td>
                <td>FA-cum-Additional Secretary, PR&DW</td>
                <td>Member</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Engineer-in-Chief, RWSS</td>
                <td>Member</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Chief Engineer, RWSS, Water Supply</td>
                <td>Member</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Chief Engineer, RWSS, Sanitation</td>
                <td>Member</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Regional Director, Central Ground Water Board</td>
                <td>Member</td>
              </tr>
              <tr>
                <td>9</td>
                <td>The Executive Committee will invite the State-level Officials of other Departments as per the
                  agenda requirements</td>
                <td>Member</td>
              </tr>
            </tbody>
          </table>

          <div class=" table-title ">
            <h3>Composition of Governing Body of DWSM:</h3>
          </div>
          <table class="table table-striped water-sanitation">
            <thead>
              <tr>
                <th class="th-header width-col-one">Sl No.</th>
                <th class="th-header width-col-two">Governing Body of DWSM </th>
                <th class="th-header width-col-three"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Chairman Zilla Parisad/DRDA </td>
                <td>Chairman</td>
              </tr>
              <tr>
                <td>2</td>
                <td>District Collector </td>
                <td>Vice-Chairman</td>
              </tr>
              <tr>
                <td>3</td>
                <td>PD DRDA </td>
                <td>Member Secretary</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Executive Engineer, RWSS </td>
                <td>Member Convenor</td>
              </tr>
              <tr>
                <td>5</td>
                <td>MP Lok Sabha - Member</td>
                <td>Member</td>
              </tr>
              <tr>
                <td>6</td>
                <td>All MLAs - Member</td>
                <td>Member</td>
              </tr>
              <tr>
                <td>7</td>
                <td>SE, RWSS Circle - Member</td>
                <td>Member</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Representative of the State Govt. from PR&DW Deptt.</td>
                <td>Member</td>
              </tr>
              <tr>
                <td>9</td>
                <td>CDMO </td>
                <td>Member</td>
              </tr>
              <tr>
                <td>10</td>
                <td>District Education Officer  </td>
                <td>Member</td>
              </tr>
              <tr>
                <td>11</td>
                <td>District Social Welfare Officer  </td>
                <td>Member</td>
              </tr>
              <tr>
                <td>12</td>
                <td>District Planning Officer  </td>
                <td>Member</td>
              </tr>
              <tr>
                <td>13</td>
                <td>DWO/PA,ITDA (as the case maybe)</td>
                <td>Member</td>
              </tr>
            </tbody>
          </table>

            <table class="table table-striped water-sanitation">
              <thead>
                <tr>
                  <th class="th-header width-col-one">Sl No.</th>
                  <th class="th-header width-col-two">Executive Committee of DWSM  </th>
                  <th class="th-header width-col-three"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>District Collector </td>
                  <td>Chairman</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>PD DRDA </td>
                  <td>Member Secretary</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Executive Engineer, RWSS</td>
                  <td>Member Convenor</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Additional PD (Finance) </td>
                  <td>Member</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>All Sub-Collectors </td>
                  <td>Member</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>All BDOs </td>
                  <td>Member</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>District Education Officer </td>
                  <td>Member</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>District Social Welfare Officer </td>
                  <td>Member</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>District Planning Officer </td>
                  <td>Member</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>CDMO  </td>
                    <td>Member</td>
                  </tr>
                  <tr>
                      <td>11</td>
                      <td>DWO/PA,ITDA </td>
                      <td>Member</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>The Executive Committee will invite the District-level Line 
                          Deptt. officers as per the agenda requirements.</td>
                        <td>Member</td>
                      </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>