.content-header {
    margin-top: 20px;
    border-bottom: 1px solid #1f4a7c;
}
.content-header h3{
    font-size: 24px;
    font-weight: 600;
    color: #1f4a7c;
}
.sanitation{
    margin-top: 17px;
    margin-bottom: 20px;
}
.sanitation h5{
    font-size: 20px;
    color: #1f4a7c;
}
.sanitation p{
    text-align: justify;
}
.vision{
    font-style: italic;
    font-weight: bold;
}
table.table.table-striped {
    border: 1px solid #ddd;
}
thead {
    background-color: #777;
}
.table th {
    padding: 5px !important;
}
th {
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.water-sanitation td{
    font-size: 16px;
}
.width-col-one{
    width: 15%;
}
.width-col-two{
    width: 55%;
}
.width-col-three{
    width: 30%;
}
.table-title h3{
    font-size: 20px;
    color: #1f4a7c;
    margin-top: 20px;
}