<div class="container-fluid">
    <div class="row question-row">
        <div class="mob-left-list" (click)="showLists();">Menu</div>
        <div class="col-md-3 left-list">
            <app-user-side-menu></app-user-side-menu>
        </div>
        <div class="right-content">
        <div class="col-md-9 content-sec offset-md-3">
            <div class="col-md-10 offset-md-1">
                <h2 class="user-heading">Create New User</h2>
                <form class="all-fields row" #f="ngForm" (submit)="f.valid ?submitForm(selectedRoleId, f):''">
                    <div class="selection-fields col-md-6">
                        <label for="usr">Full Name<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <input matInput name="name" [(ngModel)]="fullName" required pattern="^[a-zA-Z][a-zA-Z\s\.\./]+$">
                            <mat-error class="padding-bottom ">
                                {{f.controls['name']?.errors?.pattern ? 'Only characters, dot(.) and space can be accepted':'Please provide full name'}}                               
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="selection-fields col-md-6">
                        <label for="usr">Mobile No.<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <input matInput class="nospinner" type="text" pattern="\d*" maxlength="10" minlength="10" name="mobile" [(ngModel)]="mobile" required>
                            <mat-error class="padding-bottom ">
                                {{f.controls['mobile']?.errors?.pattern ? 'Only digits can be accepted':'Please provide 10 digit mobile number'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="selection-fields col-md-6">
                        <label for="usr">Username<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <input matInput name="username" [(ngModel)]="userName" required pattern="^[a-z0-9_-]{3,15}$">
                            <mat-error class="padding-bottom ">                               
                                {{f.controls['username']?.errors?.pattern ? 'Only 3-15 characters,hyphen(-) and underscore(_) can be accepted':'Please provide username'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="selection-fields col-md-6">
                        <label for="usr">Password<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <input matInput name="password" [(ngModel)]="password" required pattern="^\S*$">
                            <mat-error class="padding-bottom ">
                                {{f.controls['password']?.errors?.pattern ? 'Spaces are not accepted':'Please provide password'}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="selection-fields col-md-6">
                        <label for="usr">User Type<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <mat-select [(ngModel)]="selectedUserTypeId" name="typeDetail" required>
                                <mat-option *ngFor="let opt of userManagementService.typeDetails | frequencyFilter:1" [value]="opt.typeDetailId">
                                    {{opt.typeDetailName}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="padding-bottom ">
                                Please provide user type detail
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="selection-fields col-md-6">
                        <label for="usr">User Role<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <mat-select [(ngModel)]="selectedRoleId" name="role" (valueChange)="selectedDistrictId = undefined; selectedBlockId=undefined; selectedGramPanchayatId=undefined" required>
                                <mat-option *ngFor="let opt of userManagementService.formFieldsAll" [value]="opt.id">
                                    {{opt.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="padding-bottom ">
                                Please provide user role
                                </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="selection-fields col-md-6" *ngIf="selectedRoleId==2 || selectedRoleId == 3 || selectedRoleId == 5">
                        <label for="usr">District<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <mat-select name="district" [(ngModel)]="selectedDistrictId" (valueChange)="selectedBlockId=undefined; selectedGramPanchayatId=undefined" [required]="selectedRoleId==2 || selectedRoleId == 3 || selectedRoleId == 5">
                                <mat-option *ngFor="let dist of userManagementService.areaDetails | areaFilter:2:18" [value]="dist.sbmAreaId">
                                    {{dist.areaName}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="padding-bottom ">
                                Please provide district name
                                </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="selection-fields col-md-6" *ngIf="selectedRoleId==3 || selectedRoleId == 5">
                        <label for="usr">Block<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <mat-select name="block" [(ngModel)]="selectedBlockId" (valueChange)="selectedGramPanchayatId=undefined" [required]="selectedRoleId == 3 || selectedRoleId == 5">
                                <mat-option *ngFor="let block of userManagementService.areaDetails | areaFilter:3:selectedDistrictId" [value]="block.sbmAreaId">
                                    {{block.areaName}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="padding-bottom ">
                                Please provide block name
                                </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="selection-fields col-md-6" *ngIf="selectedRoleId == 5">
                        <label for="usr">Gram Panchayat<span style="color:red; font-weight:500;">*</span> :</label>
                        <mat-form-field>
                            <mat-select name="gramPanchayat" [(ngModel)]="selectedGramPanchayatId" [required]="selectedRoleId == 5">
                                <mat-option *ngFor="let gp of userManagementService.areaDetails | areaFilter:4:selectedBlockId" [value]="gp.sbmAreaId">
                                    {{gp.areaName}}
                                </mat-option>
                            </mat-select>
                            <mat-error class="padding-bottom ">
                                Please provide gram panchayat name
                                </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group" [ngClass]="selectedRoleId && selectedRoleId == 2 || selectedRoleId == 5 ? 'col-md-6 text-left mt-btn':'col-md-12 mt-btn text-center' ">
                        <button class="btn btn-default proceed-btn user-submit" type="submit" 
                            >Create</button>
                            <!-- [disabled]="!fullName || !mobile || mobile.toString().length != 10 || !userName || !password || !selectedRoleId || (selectedRoleId ==2 && !selectedDistrictId) ||  (selectedRoleId ==3 && !selectedBlockId)" -->
                    </div>
                </form>
            </div>
        </div>
     </div>
    </div>

    <div class="modal fade" id="successMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-notify modal-error" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Success</p>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <p> {{validationMsg}}</p>
                    </div>
                    <button type="button" class="btn btn-secondary m-auto d-block modal-btn" (click)="successModal()">Ok</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>

    <div class="modal fade" id="oldPassNotMatch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-notify modal-error" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header data-error">
                    <p class="heading lead">Error</p>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <p>{{validationMsg}}</p>
                    </div>
                    <button type="button" class="btn btn-secondary m-auto d-block modal-btn" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>