.terms{
    margin-top: 30px;
    margin-bottom: 30px;
}
.content-header h3{
    font-size: 24px;
    font-weight: 500;
    color: #1f4a7c;
}
.terms-use p{
    text-align: justify;
}
.terms-use ul li{
    text-align: justify;
    line-height: 27px;
}