<!-- 
<app-breadcrumb-pagination></app-breadcrumb-pagination>
<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h2 class="title-main">Organisational Structure</h2>
      </div>
      <div class="col-md-12 short-info">{{staticService.contentData.viewType}}</div>
  </div> 
</div>
<section class="site-main">               
  <div class="entry-content">    
    <div class="col-md-12 org-structure-img text-center">
      <img src="./assets/images/gallery/org-structure.jpeg" />
      <div class="blank-height">
        </div>
    </div>
    <div class="blank-height">
      </div>
  </div>
</section> -->
<h2 >
  Under Construction...
</h2>