.about-heads{
    list-style: none;
    padding: 0;
    border: 1px solid #ddd;
    margin-top: 20px;
}
.about-head-list {
    border-bottom: 1px solid #ddd;
    // font-size: 18px;
    counter-increment: step-counter;
    position: relative;
    min-height: 50px;
    background-color: #80a7e0;
}
a:hover{
    text-decoration: none;
}
li.about-head-list a{
    color: white;
    font-size: 16px;
}
li.about-head-list.active {
    background-color: #1f4a7c;
}
li.about-head-list.active::before{
    background-color: #80a7e0;
}
.list-span {
    // top: 50%;
    display: block;
    margin-left: 13px;
    // position: absolute;
    // -webkit-transform: translateY(-50%);
    // transform: translateY(-50%);
}
.about-heads li {    
    cursor: pointer;
}
@media (max-width: 991px){
    .about-head-list{
        height: 80px;
    }
}