<div class="clsContent">
  <ul class="about-heads ">
    <li class="about-head-list " routerLink="/about-us" [ngClass]="{'active': router.url=='/about-us'}">
      <span class="list-span"><a class="active" routerLink="/about-us">Swachh Bharat Mission (Gramin)</a></span>
    </li>             
    <li class="about-head-list" routerLink="/soso" [ngClass]="{'active': router.url=='/soso'}">
      <span class="list-span"><a routerLink="/soso">Swachha Odisha Sustha Odisha (SOSO)</a></span>
    </li> 
    <li class="about-head-list" routerLink="/sustainable" [ngClass]="{'active': router.url=='/sustainable'}">
      <span class="list-span"><a routerLink="/sustainable">Sustainable Development Goal – 6 (SDG-6)</a></span>
    </li> 
    <li class="about-head-list" routerLink="/water-sanitation" [ngClass]="{'active': router.url=='/water-sanitation'}">
      <span class="list-span"><a routerLink="/water-sanitation">Odisha Water & Sanitation Mission (OWSM)</a></span>
    </li>
    <li class="about-head-list" routerLink="/organisational-structure" [ngClass]="{'active': router.url=='/organisational-structure'}">
      <span class="list-span"><a routerLink="/organisational-structure">Organisational Structure</a></span>
    </li>     
  </ul>
</div>

