

.achievement-head-line
{
    font-size: 24px;
    font-weight: bold;
    color: orange;
    border-bottom: 1px solid;
    width: 100%;
    margin-bottom: 25px;
}

.download-pdf-text {
    margin-bottom: 20px !important;
}
.download-content{   
    margin-right: 10px;
    color: #666;
    cursor: pointer;
    display: inline-block;
}

.download-txt{
    font-size: 13px !important;
    text-transform: capitalize;
}
.bestpraticeshead-head-line {
    font-size: 24px;
    font-weight: bold;
    color: orange;
    border-bottom: 1px solid;
    width: 100%;
}
.searchData {
    margin-top: -10px;
}