

h2.title-main {
    margin: 15px;
    width: 96%;
}
.table-container{ margin-top: 40px; }
.type-center  {text-align: center; }
.cms-section { margin: 0 0 0 30px;;}
.cms-land-info { 
    margin: 17px;
    color: #000;
 }
 .cms-land-page{
    border: 1px solid #9E9E9E;
    box-shadow: 1px 1px 1px #9E9E9E;
    padding: 10px;
 }  
 .last-updated-page { 
     list-style-type: none;
     padding-left: 12px;
     }
 .last-updated-time { 
     color: #0a6bb9;
     font-size: 12px;
     }
 .cms-landing-border {
     margin: 18px;
 } 
 .activities-area {
    flex: 0 0 47% !important;
    margin-right: 21px;
}
.short-description-block {
    padding: 0;
    margin-top: 30px;
}
#editCmsPageDescription { background: #ddd; }

.last-updated-section { margin-top: 22px; }
.cms-short-description { 
    padding: 10px 10px 25px 10px;
    background: #ddd;
 }
 .short-description-field {
    top: 2px;
    float: right;
    position: absolute;
    right: 35px;
    cursor: pointer
 }
 .cms-description-text {
    position: absolute;
    top: -18px;
    margin: 21px 44px 25px 14px;
    z-index: 99;
 }
.preview-hover { font-size: 14px; }
 .recent-activity-block {
    padding: 7px 0 5px 10px;
    font-size: 18px;
    font-weight: 400;
 }
 .downloaded-icon {
    font-size: 15px;
}
 .download-file {
    font-size: 14px;
}
 .preview-icon {
    width: 15px;
    margin: 0px 3px 0 16px;
}
 .download-pdf-text { margin: 0 0 7px 9px; }
 .time-stamp {padding-left: 12px;}
 .last-updated-blog { margin-bottom: 0 }
.landing-page-block-border {
    border-bottom: 1px solid #9E9E9E;
}
.overflow-ellipsis {
    max-width: 215px;
    padding: 2px 5px;
  /* BOTH of the following are required for text-overflow */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cms-table-header {
    background: #1f4a7c;
    color: #fff;
  }
  .cms-table-column { 
    text-transform: capitalize;
}
.add-btn { 
    width: 20%;
    margin-top: -68px;
    margin-left: 107%;
 }
 .add-order-btn {
    margin-top: 28px;
    height: 30px;
    line-height: 8px;
 }
 .cms-submit-btn-in-row {
    margin-top: 25px;
    margin-left: -35%;
  }
  .cms-cancel-btn-in-row {
    margin-top: -11%;
    margin-left: 3%;
  }
.edit-btn, .edit-btn:hover, .edit-btn:focus{
    background-color: #1f4a7c  !important;
    display: inline-block;
    text-transform: initial;
}
.edit-btn:active{
    background-color: #1f4a7c;
}
h2.title-main {
    margin: 16px;
}
.edit-btn {
    background: #1f4a7c;
    border: none;
    cursor: pointer;
}
.delete-btn {
    background: #a71a1a;
    border: none;
    cursor: pointer;
}
.action-icons {
    font-size: 15px;
    color: #fff;
    padding: 3px;
}
.cms-table-fetched {
    width: 100% !important;
}
.cms-dropdown-lists {
    transform: translate3d(5px, 30px, 0px) !important;
    width: 100%;
}
.pagination {
    margin-top: 25px;
    margin-right: 85px;
}
.first-pagination { margin-right: 0px; }
.cms-submit-btn {
    margin-bottom: 10px !important;
}
.cms-page-description-block {
    margin-left: 5px;
    height: 70px;
}
.description-text-input { 
    height: 68px;
    background: #fff;
    padding: 0px 30px 6px 9px;
 }
.textarea-field {
    padding-left: 5px;
    margin-left: 5px;
    color: #000;
    padding: 4px 45px 11px 9px;
    height: 130px;;
}
.separator {
    border: 1px solid #1f4a7c;
    margin-bottom: 20px;
}
input[type=text] {
    color: #000;
}
.selectedrowData { margin-top: -10px;}
.selectedTableInfo {
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 53px;
}
input[type="text"]:hover, textarea:hover, input[type="file"]:hover {
    border: 1px solid #2377da;
    border-radius: 3px;
    box-shadow: 4px 2px 5px 1px #9E9E9E;
}
.mydp .selbtngroup
{ width: 576px !important; }
.mydp, .mydp .headertodaybtn {
    border: 1px solid #CCC;
    width: 84% !important;
    margin-left: -103px;
}
 .btnpickerenabled { float: right !important; }

.mydp .selection {
    width: 84% !important;
    margin-left: -106px !important;
}
.cms-photo-categories { 
    width: 100px;
    padding: 7px;
 }
 .fetched-file {
    width: 50%;
    margin-left: 19%;
    color: #2196F3;
    cursor: pointer;
 }
 .rawReportCalnder { margin-left: 4px; }

 .no-data-found { padding: 10px 120px 28px 28px;}
 .previewPortalPage { 
        max-width: 92% !important;
        border: 1px solid #ddd;
 }
 .cms-header-info { 
     padding: 0 !important;
     color: #fff;
     }
#header-info-of-preview {
    font-size: 30px !important;
    padding: 10px !important;
}
.preview-publish-btn { margin-top: 0; }

h2 .title-main {
    font-size: 24px;
    font-weight: bold;
    margin-top: 23px;
    padding: 6px 0 6px 10px;
    color: #1f497b;
    border-bottom: 1px solid;
    width: 100%;
}

.about-us-content {
    text-align: justify;
    margin: 0 0 5px 0;
}

.about-us-image {
    width: 30%;
    border-radius: 5px;
    margin-right: 25px;
    box-shadow: 3px 3px 3px 3px #ddd;
}
.content-body {
    margin: 35px;
    max-height: 405px;
    overflow: auto;
}