<style>
    #infocus-area:before {
        width: 88px;
        height: 85px;
        position: absolute;
        overflow: hidden;
        background: url(./assets/icons/bbbp_in-focus_icon_design-3.png) no-repeat;
        left: 50%;
        background-size: 100%;
        content: '';
        margin: -53px 0 0 -54px;
    }
</style>


<!-- <div *ngIf="appService.logoutSuccess" style="border: 1px solid #549054; background: #ddd; text-align: center;">
    Successfully logged out.
</div> -->

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/banners/Banner-1.jpg" alt="SOSO">
        </div>
        <div class="carousel-item">
            <img src="assets/images/banners/Banner-2.jpg" alt="SOSO">
        </div>
        <div class="carousel-item">
            <img src="assets/images/banners/Banner-3.jpg" alt="SOSO">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>


<div class="container-fluid about-content">
    <div class="row about-speech">
        <div class="col-md-12 cm-speech">
            <h2>Sanitation In Odisha</h2>
            <p>Odisha started out with an Rural Sanitation Coverage of 11% on 2nd October 2014.
                As on date Odisha has achieved over 72% Sanitation coverage. Five districts
                (Debagarh, Jharsuguda, Baleswar, Sambalpur and Kandhamal) have achieved 100%
                Sanitation Coverage. Over 1500 GPs and more than 17,000 villages across the state
                have been declared ODF. Since April, 2017 more than 2 million individual household
                latrines (IHHLs) have been constructed in the State.</p>
        </div>
    </div>
</div>



<div class="container social-panel background-highlight">
    <div class="row social-content">
        <div class="col-md-4 ">
            <div class="social-box">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img class="img-responsive" alt="soso" src=".\assets\images\gallery\box-1.jpg">
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-border">
                                <h2>SOSO </h2>
                                <p class="flip-para1">The Hon’ble CM of Odisha believes that sanitation is one of the most
                                    important issues we need to deal as a society. “Swachha Odisha Sustha
                                    Odisha” is a concerted effort by Govt. of Odisha to eliminate open
                                    defecation, promote the concepts of “Waste to Wealth” and “Reduce,
                                    Recycle, Reuse”, and improve the living standards of the people across
                                    Odisha. The focus is to provide the people with best services in the
                                    sector of drinking water, nutrition, sanitation and public health.
                                    Swachha Odisha Sustha Odisha is an initiative which envisages a future
                                    filled with hope and prosperity for all Odias.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="social-box">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img class="img-responsive" alt="sbm" src=".\assets\images\gallery\box-2.jpg">
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-border">
                                <h2>SBM(G)</h2>
                                <p>SBM (G) aims to achieve a clean and ODF India by 2nd October, 2019.
                                    It seeks to bring about an improvement in the general quality of life
                                    in the rural areas, by promoting cleanliness, hygiene and eliminating
                                    open defecation. It pursues community involvement in order to adopt
                                    sustainable sanitation practices and facilities through awareness
                                    creation and health education. It encourages cost effective and
                                    appropriate technologies for ecologically safe and sustainable
                                    sanitation. SBM(G) is designed to create significant positive impact
                                    on gender and promote social inclusion by improving sanitation
                                    especially in marginalized communities.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="col-md-12 social-box">
                <div class="row social-heading">
                    <h4 class="infocus-block-title">Social </h4>
                    <a href="" id="tw-button" class="socialpnl"><i class="fa fa-twitter" aria-hidden="true"></i>
                        twitter</a>
                </div>
                <div class="col-md-12 twittwer-post">
                    <a class="twitter-timeline" data-height="300" href="https://twitter.com/sbmodisha?ref_src=twsrc%5Etfw">Tweets
                        by sbmodisha</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid ">
    <div class="row quick-stats">
        <div class="col-md-3 col-sm-6 col-12 circle">
            <div class="quick-start-in">
                <div class="quick-rnd">
                    <img class="rnd" src="assets/images/gallery/rnd-1.jpg">
                </div>
                <span class="count">72.35</span>
                <br>
                <span class="sub-title">Coverage Percentage</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 circle">
            <div class="quick-start-in">
                <div class="quick-rnd">
                    <img class="rnd" src="assets/images/gallery/rnd-2.jpg">
                </div>
                <span class="count">23.10</span>
                <br>
                <span class="sub-title">Geo Tagging</span>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-12 circle">
            <div class="quick-start-in">
                <div class="quick-rnd">
                    <img class="rnd" src="assets/images/gallery/rnd-3.jpg">
                </div>
                <span class="count">387</span>
                <br>
                <span class="sub-title">ODF Declared Village</span>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-12 circle">
            <div class="quick-start-in">
                <div class="quick-rnd">
                    <img class="rnd" src="assets/images/gallery/rnd-4.jpg">
                </div>
                <span class="count">387</span>
                <br>
                <span class="sub-title">No. of Swachhagrahi </span>
            </div>
        </div>
    </div>
</div>