<div class="container">
  <div class="row content-header clsContent">
          <h3>Swachh Bharat Mission (Gramin)</h3> 
            
  </div>
  <div class="row">
      <div class="col-md-3">
          <app-about-side-menu></app-about-side-menu>
      </div>
        <div class="col-md-9 about clsContent">
                <p>To accelerate the efforts to achieve universal sanitation coverage and to put focus on sanitation, the Hon'ble Prime Minister of India, Shri Narendra Modi, launched the Swachh Bharat Mission on 2nd October, 2014. The Mission aims to achieve a Swachh Bharat by 2019, as a fitting tribute to Mahatma Gandhi on his 150th birth anniversary. In Rural India this would mean making villages Open-Defecation Free (ODF), improving the levels of cleanliness through Solid and Liquid Waste Management activities, and ensuring clean and sanitized villages.</p>
                <h5>Vision:</h5>
                <p>The aim of Swachh Bharat Mission (Gramin) is to achieve a clean and Open Defecation Free (ODF) India by 2nd October, 2019</p>
                <h5>Objectives:</h5>
                <ul>
                  <li>To bring about an improvement in the general quality of life in the rural areas, by promoting cleanliness, hygiene and eliminating open defecation.</li>
                  <li>To accelerate sanitation coverage in rural areas to achieve the vision of Swachh Bharat by 2nd October 2019.</li>
                  <li>To motivate communities to adopt sustainable sanitation practices and facilities through awareness creation and health education.</li>
                  <li>To encourage cost effective and appropriate technologies for ecologically safe and sustainable sanitation.</li>
                  <li>To develop, wherever required, community managed sanitation systems focusing on scientific Solid & Liquid Waste Management systems for overall cleanliness in the rural areas.</li>
                  <li>To create significant positive impact on gender and promote social inclusion by improving sanitation especially in marginalized communities</li>
                </ul>
                <h5>Key Elements of the Strategy:</h5>
                <ul>
                  <li>Augmenting the institutional capacity of districts for undertaking intensive behavior change activities at the grassroots level</li>
                  <li>Strengthening the capacities of implementing agencies to roll out the programme in a time-bound manner and to measure collective outcomes</li>
                  <li>Incentivizing the performance of State-level institutions to implement behavioral change activities in communities</li>
                </ul>
                <h5>Focus on Behaviour Change</h5>
                <ul>
                  <li>Behaviour change has been the key differentiator of Swachh Bharat Mission and therefore emphasis is placed on Behaviour Change Communication (BCC). BCC is not a 'stand-alone' separate activity to be done as a 'component' of SBM-G, but about nudging communities into adopting safe and sustainable sanitation practices through effective BCC. </li>
                  <li>Emphasis is placed on awareness generation, triggering mindsets leading to community behaviour change and demand generation for sanitary facilities in houses, schools, Anganwadis, places of community congregation, and for Solid and Liquid Waste Management activities. Since Open Defecation Free villages cannot be achieved without all the households and individuals conforming to the desired behaviour of toilet use every day and every time, community action and generation of peer pressure on the outliers are key. </li>
                </ul>
                <h5>Swachhagrahis as Foot Soldiers of SBM(G)</h5>
                <p>There is a need for a dedicated, trained and properly incentivized sanitation workforce at the GP level. An army of ‘foot soldiers’ or ‘Swachhagrahis’, earlier known as ‘Swachhata Doots’ is developed and engaged through existing arrangements like Panchayati Raj Institutions, Co-operatives, ASHAs, Anganwadi workers, Women Groups, Community Based Organizations, Self-Help Groups, water linemen/pump operators etc. who are already working in the GPs, or through engaging Swachhagrahis specifically for the purpose. In case existing employees of line departments are utilized, their original Line Departments are in clear agreement to the expansion of their roles to include activities under the Swachh Bharat Mission. </p>
                <h5>Sanitation Technology</h5>
                <p>Appropriate participation of the beneficiary/communities, financially or otherwise in the setting up of the toilets is advised to promote ownership and sustained use, both at the household and community levels. The built-in flexibility in the menu of options is to give the poor and the disadvantaged families’ opportunity for subsequent upgrading of their toilets depending upon their requirements and financial position and to ensure that sanitary toilets are constructed, which ensure safe confinement and disposal of faeces. An illustrative list of technology options, with cost implications is provided to meet the user preferences and location-specific needs. While the Government provides flexibility in choosing the toilet technology considering area’s topography, soil conditions etc., properly constructed Twin-Pit is considered the most preferred technology. </p>
                <h5>Twin Pit Pour Flush Water Seal Toilets</h5>
                <p>The Twin Pit Water Seal Toilet is an on-site sanitation measure for houses where the water table is sufficiently low to avoid ground water pollution. On one hand it fulfills all sanitary requirements; of a toilet and on the other provides continuous use with minimal maintenance. The main components of such a toilet are the two pits used alternately, a pan, water seal / trap, squatting platform, junction chamber and a superstructure.</p>
                <p>Under the system, there are two pits which are used alternately. Both pits are connected with a junction chamber at one end. Pit walls have a honeycomb structure. The bottom of the pit is not plastered and is earthen. Depending on the number of users of toilet, size of the pit varies. Capacity of each pit is normally kept for three years. First pit, after it gets filled up in about three years, is blocked at the junction chamber and second pit is put in operation. The watery part of excreta percolates in soil through the honey comb structure. After two years of blockage of the first pit, its contents degrade completely and turn to solid, odourless, pathogen free manure. It is dug out by beneficiaries and used for agriculture and horticulture purposes. After the second pit is filled, it is similarly blocked and the first pit is put in use again. Thus, alternate use of both the pit continues.</p>
            
        </div>  

  </div>
  
</div>