.content-header {
    margin-top: 20px;
    border-bottom: 1px solid #1f4a7c;
}
.about-cont {
    margin-top: 20px;
    margin-bottom: 30px;
}
.content-header h3{
    font-size: 24px;
    font-weight: 600;
    color: #1f4a7c;
}
.about{
    margin-top: 17px;
    margin-bottom: 20px;
}
.about h5{
    font-size: 20px;
    color: #1f4a7c;
}
.about p{
    text-align: justify;
}
