

<app-breadcrumb-pagination></app-breadcrumb-pagination>

<div class="container">
  <div class="row" *ngIf="staticService.contentList.length">
    <div class="col-md-12">
      <h2 class="title-main">BBBP Guidelines</h2>
    </div>
    <div class="col-md-12 short-description margin-left-description ">{{staticService.contentData.viewType}}</div>
    <div class="col-md-12">
        <div class="col-md-3 searchData inner-addon right-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" [(ngModel)]="searchTexts" 
          class="form-control" placeholder="Search" />
          </div>
      </div>
    <div class="col-md-12" [hidden]="( staticService.contentList | searchText : searchTexts).length == 0">
      <table class="table table-striped table-margin">
        <thead>
          <tr>
            <th class="th-header width-col-one" (click)="sort('publishedDate')">Date
              <i class="fa fa-caret-up fa-lg fa-sorting" aria-hidden="true" [ngClass]="{'fa-sort': column != 'publishedDate', 
          'fa-sort-asc': (column == 'publishedDate' && !isDesc), 
          'fa-sort-desc': (column == 'publishedDate' && isDesc) }" aria-hidden="true"></i>
            </th>
            <th class="th-header width-col-two">Title</th>
            <th class="th-header width-col-three">Download</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of staticService.contentList | searchText : searchTexts | paginate: { itemsPerPage: 4, currentPage: p }; let i = index;">
            <td>{{items.publishedDate}}</td>
            <td class="title-td">{{items.title}}</td>
            <td class="pdf-left">
                <div>
                    <img [hidden]="items.fileName == ''" class="preview-icon preview-icon-table" title="Preview file before download" src="./assets/icons/eye-solid.svg" (click)=openPDF(items.fileName)>
                    <a class="preview-hover" [hidden]="items.fileName == ''" title="Preview file before download" (click)=openPDF(items.fileName)>
                      Preview
                    </a>
                  </div>
                <div class="file-in-table">
                  <span [hidden]="items.fileName == ''" class="pdf-icon-border pdf-download-block">
                    <a (click)="downloadFiles(items.fileName)" title="Download PDF">
                    <i class="fa fa-download downloaded-icon downloaded-icon-table"  aria-hidden="true"></i>
                  </a></span>
                  <span [hidden]="items.fileName != ''">File not available</span>
                  <span class="file-size-text" [hidden]="items.fileName == ''">File Size: {{items.size}}</span>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="pagination" (pageChange)="p = $event" *ngIf="staticService.contentList.length > 4"></pagination-controls>
    </div>
    <div class="col-md-12" [hidden]="( staticService.contentList | searchText : searchTexts).length != 0" > 
      <h4 class="text-center no-data-found">No Data Found</h4>
    </div>
  </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-width">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <embed [src]="url" frameborder="0" width="100%" height="400px">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
