<div class="container">
    <div class="row content-header">
      <h3>Organisational Structure </h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <app-about-side-menu></app-about-side-menu>
      </div>
      <div class="col-md-9">
       <div class="state-level">
         <h5>State Level</h5>
          <img class="img-responsive" alt="state-level" src=".\assets\images\gallery\state-level.jpg">
       </div>
       <div class="dist-level">
          <h5>District Level</h5>
          <img class="img-responsive" alt="dist-level" src=".\assets\images\gallery\dist-level.jpg">
       </div>
      </div>
    </div>
  </div>