.terms_use_text{
    margin-top: 50px;
}
.submenu-item {
    display: block;
    width: 100%;
    padding: .2rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.submenus {
    padding-left: 0;
}
.main-menu-list a {
    color: #2196f3;
}
h2 {
    font-size: 40px;
    font-weight: bold;
    color: #1f497b;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}