.waves-light, .waves-light:hover, .waves-light:focus{
    background-color: #1f4a7c !important;
}
.mobile-anchor 
{
    color: #000;
    padding: 17px 0px 0px 12px;
   
}

.mobile-anchor a
{
    color: #000;
    border-bottom: 1px solid #1f4a7c;

}
.btn-width
{
    margin-top: 7px;
    width: 320px;
    background: #1f4a7c !important;
}
.icon-drop
{
    margin-left: 252px;
    font-size: 30px;

}
.data-head
{
    height: 232px;
}

.mobile-anchor 
{
    color: #000;
    padding: 17px 0px 0px 12px;
   
}

.mobile-anchor a
{
    color: #000;
    border-bottom: 1px solid #1f4a7c;

}
.btn-width
{
    margin-top: 7px;     
    width: 320px;
    background: #80a7e0 !important;
}
.icon-drop
{
    margin-left: 252px;
    font-size: 30px;

}
.data-head
{
    height: 232px;
}
