.menu-list
{
    margin: 29px 0px 45px 0px;
}
.contribution-us-head
{
    font-size: 24px;
    font-weight: bold;
    margin-top: 23px;
    padding: 6px 0 6px 10px;
    color: #1f497b;
    border-bottom: 1px solid;
    width: 100%;
}

.no-data-found {
    margin-top: 0;
}
.vertical-menu {
    border:1px solid #dddd;
    
}
.mobile-display
{
    border:1px solid #dddd;
    
} 
.mobile-display a {  
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-top: 1px solid #dddddd;
}

li{
    list-style:none;
}

.vertical-menu a {  
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-top: 1px solid #dddddd;
}

// .vertical-menu a:hover {

//     text-decoration:underline;
// }

.vertical-menu a.active {
    
    color: white;
}


.table-margin
{
    margin: 29px 0px 45px 0px;
    
}



.fa-sorting {
    margin-left: 7px;
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

// button{ 
//     padding: 1px 25px 0px 14px;
// }
.title-header
{
    text-align:left;
}
.title-td
{
    text-align:left;
}

.sanction-head-list {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
   position: relative;
  background-color: #80a7e0;   
   
}   


li.sanction-head-list.active {
    background-color:#1f4a7c;
}


.mobile-articles {

    visibility:hidden;
    display: none;
}
.btn-color
{
    background: #1f4a7c; 
    
}
li.sanction-head-list a:hover {
    background-color: #1f4a7c;
}


@media (min-width: 360px) and (max-width: 480px) {
@viewport {
width: device-width;
}


}

@media  (max-width : 480px) {

.mobile-display {
    border: 1px solid #dddd;
    margin: 0;
   
}
.sanction-head-list {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    position: relative;
    background-color: #80a7e0;
    width: 287px;
   
}

.btn-color {
    /* margin-top: 7px; */
    background: #1f4a7c;
    width: 290px;
}
}   

    @media (max-width: 480px) and (min-width: 320px) {

      @viewport {
        width: device-width;
      }
    //   .btn-color {
     
    //     background: #1f4a7c;
    //     padding: 8px 127px 9px 17px;
    //      width: 290px;
    // }
    
    .sanction-head-list {
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        position: relative;
        background-color: #80a7e0;
        width: 287px;
       
    }
    .mobile-display {
        border: 1px solid #dddd;
        margin: 0;
    }
    td{
        padding:2px;
        font-size: 12px;
        border: 1px solid #e4e4e4;
        line-height: 145%;
        font-weight: normal;
    }
    button, select {
        font-size: 82%;
        text-transform: none;
    }
    }

    @media (max-width : 480px) {
        .sanction-head-list {
            border-bottom: 1px solid #ddd;
            font-size: 16px;
            position: relative;
            background-color: #80a7e0;
            width: 287px;
            /* padding: 0px 0px 0px 77px; */
        }
    
       
.mobile-display {
    border: 1px solid #dddd;
    margin: 0;
    max-height: none;
}
.btn-color {
     
    background: #1f4a7c;
     width: 290px;
}

    }   

    